<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Feng Wu">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width"/>

    <title>Simulator</title>

    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="lib/spop/spop.css">
    <link rel="stylesheet" href="styles/ddsStyles.css">

    <script type="text/javascript"
            src="//maps.googleapis.com/maps/api/js?key=AIzaSyApKa49vf32gNY9MgnxXsqijN7Me168GnU&sensor=true&libraries=drawing,geometry,visualization"></script>
    <script type="text/javascript" src="lib/lab/LAB-2.0.3.min.js"></script>
    <script type="text/javascript" src="loadMain.js"></script>

    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.min.css"/>
</head>
<body>

<!-- Map Panel with drone background -->
<div class="ui-layout-center">
    <div id="map_canvas"></div>
    
    <!-- Button Control Panel -->
    <div class="button-panel">
        <button type="button" id="open-drone-x-view" class="control-button" data-action="Open Drone X View">Open Drone X View</button>
        <button type="button" id="open-mission-view" class="control-button" data-action="Open Mission View">Open Mission View</button>
        <button type="button" id="open-fire-view" class="control-button" data-action="Open Fire View">Open Fire View</button>
        <button type="button" id="open-dds-log" class="control-button" data-action="Open DDS Log">Open DDS Log</button>
        <button type="button" id="path-planning-view" class="control-button" data-action="Path Planning View">Path Planning View</button>
    </div>
    
    <div id="optimise">
        <button type="button" id="optimal" style="display:none">Optimise</button>
    </div>
</div>

<!-- map content -->
<div style="display: none;">
    <!-- time goes to button -->
    <div id="game_info" style="margin: 2px;">
        <div id="game_id" class="game_info_item"></div>
        <div id="game_time" class="game_info_item">Time: 00:00:00</div>
    </div>

    <script type="text/template" id="scenario_end_panel">
        <div style="margin: 10px;">
            <h><%= title %></h>
            <p><%= description %></p>
        </div>
    </script>
</div>

<!-- login content -->
<div id="login" style="display: none;">
    <h1><font color="white">Welcome!</font></h1>
    <div style="text-align: center;">
        <input id="start_btn" type="button" value="Start Demo" style="margin: 2px;"/>
    </div>
</div>

<script src="dds_controls/master-view.js"></script>
</body>
</html>