# HARIS specific
server/logs/
server/classes/
server/src/META-INF/
server/web/ModelFiles/*.txt
server/*.log
server/web/PrismModel/*.pm

# Eclipse specific
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/
.externalToolBuilders/
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.cache-main
.scala_dependencies
.worksheet

# Intellij specific
**/.idea/
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/dictionaries
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/.idea/**/mongoSettings.xml
**/.idea_modules/
**/.idea/replstate.xml
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
**/.idea/sonarlint

# Windows specific
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk