<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDS Log View</title>
    <link rel="stylesheet" href="../styles/master.css">
    <link rel="stylesheet" href="../styles/log.css">
</head>
<body>
    <div class="ui-layout-center">
        <div class="view-container">
            <div class="view-title">DDS Log View</div>
            <div class="log-container">
                <div class="log-panel" id="logPanel">
                    <div class="log-console" id="logConsole">
                        <div class="log-content" id="logContent">
                            <br>Loading log...
                        </div>
                    </div>
                    <div class="log-line" id="logLine">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../controls/log.js"></script>
</body>
</html>