[
{rabbit, [
	{loopback_users, []},
	{ssl_options, [{cacertfile,           "C:/nginx/ssl/ca.crt"},
                  {certfile,             "C:/nginx/ssl/ca.crt"},
                  {keyfile,              "C:/nginx/ssl/ca.key"},
                  {verify,               verify_peer},
                  {fail_if_no_peer_cert, false}]}

]},
{rabbitmq_web_stomp,
	[{ssl_config, [
		{port,       15671},
		{backlog,    1024},
		{certfile,   "C:/nginx/ssl/ca.crt"},
		{keyfile,    "C:/nginx/ssl/ca.key"},
		{cacertfile, "C:/nginx/ssl/ca.crt"}
	]}]
}
].
